/* Global Properties */
html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  font-family: "Raleway", serif;
}

/* Main Heading Font */
.m-heading {
  font-family: "Raleway", serif;
}

/* Navigation */
.navigation-link {
  border: 2px solid transparent;
}

.navigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #000000;
  transition: 1s e;
}

/* Main Container height*/
.main-container {
  height: 100vh;
}

/* Aligning items in main row */
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Changing Name Font sixe */
.main_row h1 {
  font-size: 5rem;
}

/* Making the main image the size of the screen */
.main_row img {
  width: 400px;
  height: 500px;
}

/* About Section */
.about {
  background: #000000;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #000000;
}

/* Social Media Section */
#social-media {
  background: #000000;
}

/* Add color to Social Media Links */
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #000000;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}
